<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322883150040-fv8pilb59ume2ejc572vj2l8ck6lrfmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322883150040-fv8pilb59ume2ejc572vj2l8ck6lrfmt</string>
	<key>API_KEY</key>
	<string>AIzaSyC12fDi0RlMSir6gNQTBnoNJT1oFp0z2zI</string>
	<key>GCM_SENDER_ID</key>
	<string>322883150040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.comp</string>
	<key>PROJECT_ID</key>
	<string>comp-fe7ff</string>
	<key>STORAGE_BUCKET</key>
	<string>comp-fe7ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322883150040:ios:066815e520b9b8e3fef7ad</string>
</dict>
</plist>